.container {
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item {
    background-color: orange;
}

.item :hover {
    background-color: red;
}

.item:focus {
    background-color: blue;
}