<mat-drawer-container class="example-container" autosize>
    <!--Sidebar (a la izq)-->
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p><strong>Menú lateral</strong></p>
        <mat-nav-list>
            <a
                routerLinkActive
                #homeLink="routerLinkActive"
                routerLink="home"
                [activated]="homeLink.isActive"
                mat-list-item
            >INICIO</a>
            <a
                routerLink="students"
                mat-list-item
                routerLinkActive
                #usersLink="routerLinkActive"
                [activated]="usersLink.isActive"
            >ALUMNOS</a>
            <a
                routerLink="courses"
                mat-list-item
                routerLinkActive
                #coursesLink="routerLinkActive"
                [activated]="coursesLink.isActive"
            >CURSOS</a>
            <!--
            <a
                routerLink="/auth/login"
                mat-list-item
            >INGRESAR</a>
            <a
                routerLink="/auth/register"
                mat-list-item
            >REGISTRARSE</a>
            -->
            <a
                (click)="logout()"
                mat-list-item
            >CERRAR SESIÓN</a>
        </mat-nav-list>
    </mat-drawer>

    <!--Área derecha-->
    <div class="example-sidenav-content">
        <mat-toolbar style="width: 100vw; display: flex; justify-content: space-between; align-items: center;">
            <div>
                <button
                    mat-icon-button
                    (click)="drawer.toggle()"
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <span>2PF - Ariel Rodríguez</span>
            </div>
            <div *ngIf="authUser$ | async; let authUser">
                <p>{{authUser.firstName}} {{authUser.lastName}}</p>
            </div>
        </mat-toolbar>

        <!--
        <app-users></app-users>
        -->
        <router-outlet></router-outlet>

    </div>
</mat-drawer-container>
