p {
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

th,
td {
    padding: 5px 15px;
    text-align: center;
}

tr {
    border: solid 2px black
}

tbody>tr:nth-child(odd) {
    background-color: #aaa;
}

tbody>tr:nth-child(even) {
    background-color: #ddd;
}