@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans";
}

body {
    width: 100%;
    margin: 0
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: .4vw;
    margin: 0
}

main {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    flex: 1;
    height: 100%;
    background-color: #e0ff01;
    margin: 0;
    padding: 2vw
}

aside>h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

label {
    width: 100%;
    font-size: 20px;
}

input,
button {
    box-sizing: border-box;
    width: 100%;
    padding: 2px 5px;
    border: solid 1px black;
    border-radius: 5px;
}

input[type="submit"],
button {
    font-size: 20px;
    font-weight: 300;
    background-color: black;
    color: white;
}

section {
    flex: 3;
    padding: 1vw 4vw
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-weight: bold;
}

th {
    font-weight: 400;
    background-color: black;
    color: white;
    border: solid 1px black;
}

tbody td {
    box-sizing: border-box;
    border: solid 1px black;
    text-align: center;
}